div.form {
    display: block;
    text-align: center;
}
#label-for{
    margin: 15px 0 15px 0;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* text-align: left; */
}
.container{
    background-color: blanchedalmond;
    width: 565px;
    margin: 120px 200px 100px 350px;
    padding: 10px;
}
h3{
    margin-top: 15px;
    margin-bottom: 20px;
    /* padding-top: 10px; */
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#button{
    margin: -15px 0 10px 0;
}
.form-control{
    width:160px;
}